@import url("https://fonts.googleapis.com/css2?family=Prata&family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: Slabo, sans-serif;
  font-weight: 450;
  font-size: 100%;
  color: #000000;
}
h2, h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000000;
}

a, h2, h3{
  font-family: Prata, sans-serif;
  font-size: 100%;
  letter-spacing: 2px;
}
.hf-bg-color{
    background-color: #f5e500a6;
}
/*---gerneric flex box---*/
.box{
  display: flex;
  flex-wrap: wrap;
}
.align-box-center{
  align-items: center;
  justify-content: space-evenly;
}
/*--logo--*/

.logo-left {
  margin-left: auto;
}
.logo-right {
  margin-right: auto;
}
.logo {
  height: 30px;
  width: 0 auto;
  border-radius: 50%;
}
/*---keyframes---*/

@keyframes nav-button {
  to {
    color: #d40000;
    font-size: 70%;
  }
}



/*----Header section----*/

.header1 {
  padding-top: 5px;
  background-color: #000000;
  flex: 100%;
}
header h2 {
  padding-left: 5px;
  height: 25px;
  width: 100%;
  color: #fff;
}
/*---navigation---*/
nav ul {
  max-width: 100%;
  gap: 180px;
  height: 35px;
  padding-top: 2px;
  list-style-type: none;
}

.nav-bar-items a {
  font-weight: 600;
  text-decoration: none;
  color: #2b2929;
}

.nav-bar-items a:hover {
  border-bottom: 1px solid #d40000;
  animation-name: nav-button;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.active {
  border-bottom: 1px solid #d40000;
}

/*--
---for media queries----

header h2 {
  font-size: 100%;
  padding-left: 5px;
}
nav ul {
  gap: 200px;
}

-*/
