@import url("https://fonts.googleapis.com/css2?family=Prata&family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  flex-wrap: wrap;

}

body {
  font-family: Slabo, sans-serif;
  font-weight: 450;
  font-size: 100%;
  color: #000000;
  background-color: #f5e5001c;
  flex-wrap: wrap;
}


h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3px;
}
.image-hero p,
a,
h1,
h2,
h3 {
  font-family: Prata, sans-serif;
}

.hf-bg-color {
  background-color: #fcf377ad;
}

.break{
  display:block
}

/*---gerneric flex box---*/

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form, .main-content, .social-links, .monthly-updates, .hh{
  display: flex;
  flex-direction: column;
}
.align-box-center {
  align-items: center;
  justify-content: space-evenly;
}

.align-content-center {
  align-items: flex-end;
  justify-content: center;
}

.align-bottom-spaced {
  justify-content: space-around;
  align-items: flex-end;
}

/*---logo---*/

.logo-left {
  margin-left: auto;
}

.logo-right {
  margin-right: auto;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/*---keyframes---*/

@keyframes nav-button {
  to {
    color: #d40000;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/*---Header section---*/

.header1 {
  padding-top: 5px;
  background-color: #000000;
  flex: 100%;
}

header h1 {
  font-size: 50%;
  padding:2px;
  min-height: 15px;
  width: 100%;
  color: #fff;
}

/*---navigation---*/

nav ul {
  max-width: 100%;
  height: 35px;
  padding-top: 2px;
  list-style-type: none;
}

nav a {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 70%;
  text-decoration: none;
  color: #2b2929;
}

nav a:hover {
  border-bottom: 1px solid #d40000;
  animation-name: nav-button;
  animation-duration: 4s;
}

.active {
  border-bottom: 1px solid #d40000;
}

/*----footer----*/

footer {
  margin-top: 10px;
}
.footer-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

footer div {
  max-width: 100%;
  height: 33px;
  padding: 4px;
  list-style-type: none;
}

footer div a {
  font-size: 180%;
  color: #000000;
  line-height: 10px;
}

footer div a:hover {
  animation-name: nav-button;
  animation-duration: 3s;
}

/*---main content---*/

/*---Hero Image---*/

.outer-hero {
  width: 100%;
  overflow: hidden;
}

.image-hero {
  background: url(../images/hero-image.webp) no-repeat center;
  height: 250px;
  width: 100%;
  animation-name: zoom-out;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.text-hero {
  margin: 2px;
  max-width: 200px;
  font-size:  90%;
  font-weight: 700;
  min-height: 30px;
  line-height: 30px;
  text-shadow: 1px 1px #ff00008f;
  background-color: #fcf37788;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 3px;
}

.main-header {
  padding-top: 25px;
  text-shadow: 2px 2px #ff0000;
  text-rendering: auto;
  font-size: 150%;
}

.main-content {
  padding: 0 30px 0 30px;
  margin-top: 20px;
  flex: 100%;
  gap: 10px;
}

.main-text {
  line-height: 30px;
  padding: 5px;
  font-size: 110%;
  letter-spacing: 1px;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

.main-text h3 {
  font-size: 130%;
  text-shadow: 1px 1px #ff0000;
  padding: 10px;
  line-height: 45px;
}

.main-video {
  width: 100%;
  height: 100%;
}

.main-image {
  width: 100%;
  height: 100%;
}

/*---- main content end-----*/

/*-------gallery page-----*/

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
}

.gallery-img {
  width: 100%;
}

/*------gallery end----*/

/*------events page-----*/

.events-main-header, .gallery-header{
  font-size: 180%;
  text-shadow: 2px 2px #d40000;
  margin: 40px;
}

.events-header{
  font-size: 130%;
}

.events-header, .past-events-header{
  text-shadow: 1px 1px #d40000;
  margin: 40px;
}

.event-top-text, .events-header, .past-events-header{
  background-color: #fcf377ad;
}
.event-top-text {
  font-size: 130%;
  text-align: center;
  line-height: 30px;
  min-width: 230px;
  padding: 5px 10px;
  margin: 20px 10px 20px 10px;
}

.event-text h2 a{
  text-decoration: none;
  font-size: 80%;
  color: #000000;
}

.event-text, .event-text p a{
  font-size: 120%;
  text-align: center;
  text-decoration: none;
  color: #000000;
  line-height: 25px;
}

.events-box{
  padding: 10px;
  gap:10px;
  margin:10px;
  border:1px solid #000000;
  min-height: 170px;
}

.events-box, 
.past-events-box{
  flex: 100%;
  max-width: 350px;
}

.events-box, 
.past-events-box,
.events-main-header{
  background-color: #fcf377ad
}

.past-events-header{
  font-size: 110%;
  margin: 20px;
}

.past-events-box{
  min-height: 70px;
  gap:10px;
  margin:10px;
  border:1px solid #000000;
}

.past-event-text{
  font-size: 110;
  text-align: center;
}

.past-event-text h2 a{
  text-decoration: none;
  font-size: 80%;
  color: #000000;
}

.past-event-text h2 a:hover,
.event-text p a:hover{
  animation-duration: 4s;
  animation-name: nav-button;
  
}
/*-----events page end----*/
/*-------contact page-------*/

.contact-background {
  background: url("../images/image16.webp") center;
}

.contact-header-text{
  margin: 60px 10px;
  padding: 5px;
  text-shadow: 2px 2px #ff0000;
}
.contact-header-text h2{
    font-size: 130%;
}
.contact-text {
  font-size: 130%;
  line-height: 30px;
  min-width: 230px;
  padding: 5px 10px;
  margin: 40px 10px 50px 10px;
}

.social-header {
  font-size: 120%;
  line-height: 30px;
  text-shadow: 1px 1px #ff00008f;
}

.social-icons {
  font-size: 110%;
  line-height: 40px;
  padding-left:15px;
  padding-top: 5px;
  color: inherit;
  text-shadow: 1px 1px #5000008f;
}

.social-links, .contact-header-text, .contact-text, form{
  background-color: #fcf377ce;
}
/*--form--*/

 form, .social-links{
  align-items: flex-start;
  flex-wrap: wrap;
  flex: auto;
  max-width: 200px;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 110%;
  padding: 20px 25px 20px 25px;
  margin: 30px 0;
}

.form-message{
  resize: none;
  height: 80px;
  width: 200px;
}

.input-field {
  height:25px;
  width: 200px;
}

.monthly-updates{
  font-size: 90%;
  line-height: 25px;
  text-align: center;
  margin-top:10px;
}

.contact-button {
  margin-top: 10px;
  border-radius: 50%;
  padding: 10px 25px 10px 25px;
  text-align: center;
  font-size: 100%;
  background-color: #3b3b39;
  color: #fafafa;
  border-style: groove;
}

/*-----contact page end----*/

/*---media queries---*/


@media screen and (min-width: 280px) {
    
  header h1 {
      font-size: 60%;
    }
}
  
@media screen and (min-width: 400px) {
      
  header h1 {
      font-size: 80%;
    }
  .main-header{
      font-size: 180%;
    }
  nav a {
      font-size: 80%;
    }
  .text-hero {
      font-size:120%;
      max-width: 330px;
      padding: 5px;
    }
  .contact-header-text h2{
      font-size: 200%;
    }
  .gallery-column {
      flex: 48%;
      max-width: 50%;
    }
}

 @media screen and (min-width: 600px) {
      
  header h1 {
      font-size: 100%;
    }
  .main-header{
      font-size: 230%;
    }
  .main-content {
      flex: 33%;
    }
  nav a {
      font-size: 90%;
    }
  .text-hero {
      font-size: 140%;
      max-width: 370px;
      padding: 5px;
    }
  .contact-header-text h2{
      font-size: 230%;
  }
  .contact-text{
    font-size: 170%;
    line-height: 35px;

  }
  form, .social-links{
    max-width: 300px;
  }
  .form-message, .input-field{
    width: 300px;
  }
  .monthly-updates{
    padding-left:30px;
  }

  .social-header {
    font-size: 140%;
  }
  
  .social-icons {
    font-size: 120%;
    padding-left:30px;
  }

  .past-events-box, .events-box{
    flex: 33%;
   }
}

@media screen and (min-width:700px){
  .gallery-column {
    flex: 23%;
    max-width: 25%;
  }
}